body{
    margin-left: 5%;
    width: 100%;
    height: fit-content;
    flex-direction: columns;
    align-items: center;
    background-color: #e2f1ef !important;
}
.container{
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
}
.title{
    font-size: 24px;
    color: red;
    font-weight: bold;
    padding: 20px 20px 20px 20px;
    justify-content: center;
}
.d-flex{
    text-align: center;
    width: 100%;
    justify-content: center;
    position: absolute;
    flex-grow: 0;
    margin-right: 30%;
    margin-top: 5%;
}

.position-absolute{
    position: absolute;
    text-align: center;
    justify-content: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-top: 50px;
}
table{

    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 8px;
    border-collapse: collapse;
    width: 100%;
    
}
.header{
    width: 100%;
}
th,td{
    border: solid 2px yellowgreen;
    padding: 5px;
}
.order1{
    width: 15%;
    padding: 5px;
}
.order2{
    width: 50%;
}
.order3{
    width: 20%;
}

