
<body>
    <div class="d-flex justify-content-center">
        <span class="title">
            MỜI NHẬP THÔNG TIN THEO BẢNG BÊN DƯỚI
        </span>
    </div>
    <div class="position-absolute top-50 start-50 translate-middle" >
        <table >
            <tr class="header">
                <th class="order1">Ngày khởi hành</th>
                <th class="order2">Chuyến xe</th>
                <th class="order3">Loại xe</th>
            </tr>
            <tr>
                <td class="order1"><input type="date" name="time" id=""></td>
                <td class="order2"><input type="text" name="place" id=""></td>
                <td class="order3">Xe phòng nằm 2 t</td>
            </tr>
                        <tr>
                <td class="order1">20/10/2002</td>
                <td class="order2">Sài Gòn -> Bình Định (Xuất phát từ Bến xe miền Đông mới)</td>
                <td class="order3">Xe phòng nằm 2 t</td>
            </tr>
        </table>
    
    </div>

</body>
